.c-fix {
  width: 250px;
  text-align: center;
  &__button {
    // display: block;
    // width: 100%;
    // max-width: 250px;
    // width: 250px;
    margin: 0 auto;
    font-size: 1.8rem;
    text-decoration: underline;
    color: rgba(0, 0, 0, 0.7);

    &:hover {
      opacity: 0.8;
    }
  }
}