$btn-width: 250px !default;
$btn-height: 80px !default;
$btn-full: $btn-height+$btn-width !default;
$btn-half: $btn-full/2 !default;
$bg-color: #eeeeee !default;

[class^="btn-"] {
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;  // @include size(100%, $btn-height);
  max-width: $btn-width;
  margin: 1rem auto;
  text-transform: uppercase;
  border: 1px solid currentColor;
}

.btn-6 {
  color: #b8544e;
  // $btn-color: random-color($max:200);
  // $btn-color-dark: shade($btn-color, 40%);
	// color: tint($btn-color);
  
  span {
    position: absolute;  // @include absolute();
    display: block;
    width: 0;  // @include size(0);
    height: 0; // @include size(0);
    border-radius: 50%;
    background-color: #67201c;  // background-color: $btn-color-dark;
    transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
    transform: translate(-50%, -50%);
    z-index: -1;
  }
  
  &:hover {
    color: #eacdcb;
    // color: tint($btn-color, 75%);
    
    span {
      width: 225px;  // @include size(225%, $btn-width*2.25);
      height: 562.5em;  // @include size(225%, $btn-width*2.25);
    }
  }
  
  &:active {
    background-color: #b8544e;
  }
}