.c-secondaryHeading {
  font-size: 3.2rem;
  color: $color_black;
  position: relative;
	padding-top: 50px;
	padding-left: 30px;
	font-size: 26px;

  &::before {
    content: attr(data-en);
    font-family: 'Bellota', cursive;
    position: absolute;
    transform: rotate(-5deg);
    top: -20px;
    left: 0;
    color: rgba(52, 131, 225, 0.3);
    font-size: 80px;
    font-weight: 400;
    font-style: italic;
  }
}