.c-tab {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 100%;
  max-width: 500px;
  padding: 0;
  margin: 0 auto;
  &__item {
    border-radius: 9999px;
    cursor: pointer;
    font-size: 2.6rem;
    width: 140px;
    height: 40px;
    text-align: center;
    font-weight: bold;
    &.is-active {
      background-color: $button_color;
      color: $color_white;
    }
    &:hover {
      background-color: $button_color;
      color: $color_white;
      // transform: all 0.3s;
      transition: background-color 0.3s, color 0.3s;
    }
  }
}

@keyframes rotate-right {
  0% {
    transform: translate(-100%) rotate(-100deg);
  }
  100% {
    transform: none;
  }
}

.is-animated {
  animation: .6s rotate-right;
}