.p-confirm-wrap {
  max-width: 680px;
  margin: 0 auto;
  padding: 50px 20px 85px;
  height: calc(100vh - 70px - 30px);
  @include mq-down(sm) {
    padding-bottom: 45px;
  }
}

.p-confirm-text {
  text-align: center;
  font-size: 1.6rem;
  margin-top: 30px;
}
