.p-home-portfolio {
  background-color: $home-portfolio-bgc;
  padding: 40px 0 79px;

  &__inner {
    display: flex;
    align-items: center;
    max-width: 840px;
    margin: 61px auto 0;
    @include mq-down(md) {
      display: block;
    }
  }
  &__card {
    @include mq-down(md) {
      margin: 0 auto;
    }
    &:not(:first-child) {
      margin-left: 50px;
      @include mq-down(md) {
        margin: 40px auto 0;
      }
    }
  }
  &__button {
    width: 180px;
  }
}