.p-home-skill {
  padding: 50px 0 63px;

  &__body {
    max-width: 840px;
    margin: 52px auto 0;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 90px;
    @include mq-down (lg) {
      display: flex;
      justify-content: space-around;
      padding: 0 20px;
      &::after{
        content:"";
        display: block;
        width:30%;
      }
    }
  }

  &__icon {
    width: calc(20% - 40px);
    margin-bottom: 80px;
    @include mq-up (lg) {
      &:not(:nth-of-type(5n + 1)) {
        margin-left: 50px;
      }
    }
    @include mq-down (lg) {
      width: calc(50% - 40px);
      &:nth-of-type(n + 3) {
        margin-top: 40px;
      }
    }
  }
}