.c-primary-button {
  background-color: $button_color;
  border-radius: 9999px;
  border: none;
  padding: 5px 0px;
  font-size: 1.6rem;
  cursor: pointer;
  a {
    text-decoration: none;
    color: $color_white;
    display: block;
  }
  &:hover {
    opacity: 0.8;
  }
}