.c-skill-icon {
  min-width: 128px;
  &__image {
    width: 100%;
  }
}

.is-animated {
  animation: .6s rotate-right;
}

@keyframes rotate-right {
  0% {
    transform: translate(-100%) rotate(-100deg);
  }
  100% {
    transform: none;
  }
}