.p-home-skill {
  padding: 50px 0 63px;

  &__body {
    max-width: 840px;
    margin: 52px auto 0;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 90px;
  }

  &__icon {
    width: calc(20% - 40px);
    margin-bottom: 80px;
    &:not(:nth-of-type(5n + 1)) {
      margin-left: 50px;
    }
  }
}