.p-page-portfolio {
  width: 100%;
  max-width: 680px;
  margin: 0 auto;
  padding: 50px 20px 150px;

  &__wrapper {
    margin-top: 51px;
  }
  &__image {
    // height: 380px;
  }

  &__description {
    margin-top: 50px;
  }

  &__text {
    font-size: 2.4rem;
  }

  &__button {
    width: 250px;
    margin: 75px auto 0;
    display: block;
  }
}