.l-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  color: $color_white;
  transition: all 0.3s;

  &.is-fixed {
    color: $color_black;
    background-color: $color_white;
    transition: all 0.3s;
    .l-header__burgerLine {
      background-color: $color_black;
      transition: all 0.3s;
    }
  }
  &.is-sticky {
    position: sticky;
  }
}

.l-header__inner {
  max-width: 1280px;
  height: 70px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.l-header__logo {
  width: 250px;
  height: 40px;
  margin: 0;
  &:hover {
    opacity: 0.8;
  }
  @include mq-down(md) {
    &.is-open {
      color: $color_black;
    }
  }
  @include mq-down(sm) {
    width: 150px;
    height: 40px;
  }
}

.l-header__nav {
  @include mq-up(md) {
    width: 375px;
  }
  @include mq-down(md) {
    display: none;
    max-width: 375px;
    &.is-open {
      color: $color_black;
      background-color: $color_white;
      display: block;
    }
  }
}

.l-header__list {
  display: flex;
  justify-content: space-between;
  @include mq-down(md) {
    &.is-open  {
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      background-color: $color_white;
      width: 100vw;
      height: 100vh;
      margin: 0;
      padding-top: 70px;
      z-index: -1;
    }
  }
}

.l-header__item {
  font-size: 1.6rem;
  &:hover {
    opacity: 0.8;
  }
  @include mq-down(md) {
    &.is-open {
      text-align: center;
      margin-top: 20px;
    }
  }
}

.l-header__burger {
  display: none;
  background-color: blue;
  @include mq-down(md) {
    background-color: transparent;
    border: none;
    display: block;
    margin-left: auto;
  }
}

.l-header__burgerLine {
  &.is-sticky {
    background-color: $color_black;
    transition: all 0.3s;
  }
  @include mq-down(md) {
    background-color: $color_white;
    width: 35px;
    height: 2px;
    display: block;
    margin-bottom: 9px;
    transition: transform 0.3s;
    &:last-child {
      margin-bottom: 0;
    }
    .is-open & {
      background-color: $color_black;
      &:nth-child(1) {
        transform: translateY(11px) rotate(135deg);
      }
      &:nth-child(2) {
        transform: translateX(-18px) scaleX(0);
      }
      &:nth-child(3) {
        transform: translateY(-11px) rotate(-135deg);
      }
    }
  }
}