.p-contact-form {
  max-width: 680px;
  margin: 80px auto 0;
}

.p-contact-form__items {
  margin-bottom: 0;
  &:not(:first-child) {
    margin-top: 20px;
    @include mq-down(sm) {
      margin-top: 10px;
    }
  }
}

.p-contact-form__title {
  font-size: 1.6rem;
  font-weight: bold;
}

.p-contact-form__required {
  color: $color_white;
  background-color: $required_color;
  display: inline-block;
  text-align: center;
  border-radius: 9999px;
  width: 56px;
  margin-left: 15px;
}

.p-contact-form__inputWrap {
  margin: 0;
  &:not(:first-child) {
    margin-top: 20px;
    @include mq-down(sm) {
      margin-top: 10px;
    }
  }
}

.p-contact-form__input {
  height: 38px;
  width: 100%;
  background-color: $contact_input_color;
  border: none;
  border-radius: 2px;
}

.p-contact-form__textarea {
  resize: none;
  height: 420px;
  padding: 0;
  width: 100%;
  background-color: $contact_input_color;
  border: none;
  border-radius: 2px;
  @include mq-down(sm) {
    height: 315px;
  }
}

.p-contact-form__button {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  margin-top: 40px;
  @include mq-down(sm) {
    display: block;
    margin-top: 60px;
    &__fix {
      margin: 20px auto 0;
    }
  }
}