/******************************************************************
Style: FirstView
******************************************************************/
.p-home-firstview {
  background-image: url(../images/Hero.png);
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  width: 1280px;
  width: 100%;
  height: 100vh;
}

.p-home-firstview__inner {
  fill: none;
  stroke: $color_white;
  stroke-width: 5;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 0;
  stroke-dasharray: 1500;
  stroke-dashoffset: 1500;
  @include mq-down(md) {
    stroke-width: 2.5;
  }
}

.p-home-firstview__hero {
  position: relative;
  height: 100vh;
}

.p-home-firstview__hero-item {
  height: 180px;
  max-width: 695px;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  @include mq-down(md) {
    width: 300px;
  }
}

.p-home-firstview__itemPc {
  width: 100%;
  max-width: 695px;
  margin: 0 auto;
  @include mq-down(md) {
    display: none;
  }
}

.p-home-firstview__itemSp {
  display: none;
  @include mq-down(md) {
    display: block;
    width: 100%;
    max-width: 300px;
  }
}
/******************************************************************
Style: About
******************************************************************/
.p-home-about {
  padding: 40px 0 50px;
  margin: 0 auto;
  width: 100%;
  max-width: 920px;
}

.p-home-about__inner {
  display: flex;
  margin-top: 20px;
  @include mq-down(md) {
    display: block;
  }
}

.p-home-about__body {
  width: 100%;
  padding: 0 20px;
  @include mq-down(md) {
    max-width: 635px;
    margin: 0 auto;
  }
}

.p-home-about__name {
  display: flex;
  align-items: center;
  height: 32px;
  @include mq-down(md) {
    margin: 0 auto;
    text-align: center;
  }
}

.p-home-about__ja {
  font-weight: bold;
  font-size: 24px;
}

.p-home-about__en {
  font-size: 18px;
  margin-left: 20px;
}

.p-home-about__description {
  width: 100%;
  max-width: 635px;
  font-size: 18px;
  margin-top: 15px;
  line-height: 1.8;
  @include mq-down(md) {
    margin: 15px auto 0;
  }
}

.p-home-about__icon {
  width: 250px;
  @include mq-down(md) {
    margin: 20px auto 0;
    width: 200px;
  }
  img {
    display: block;
    border-radius: 9999px;
  }
}
/******************************************************************
Style: Portfolio
******************************************************************/
.p-home-portfolio {
  background-color: $home-portfolio-bgc;
  padding: 40px 0 79px;
}

.p-home-portfolio__inner {
  display: flex;
  align-items: center;
  max-width: 840px;
  margin: 61px auto 0;
  @include mq-down(md) {
    display: block;
  }
}

.p-home-portfolio__card {
  @include mq-down(md) {
    margin: 0 auto;
  }
  &:not(:first-child) {
    margin-left: 50px;
    @include mq-down(md) {
      margin: 40px auto 0;
    }
  }
}

.p-home-portfolio__button {
  width: 180px;
}
/******************************************************************
Style: Skill
******************************************************************/
.p-home-skill {
  padding: 50px 0 63px;
}

.p-home-skill__body {
  max-width: 840px;
  margin: 52px auto 0;
}

.p-home-skill__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 90px;
  @include mq-down (lg) {
    display: flex;
    justify-content: space-around;
    padding: 0 20px;
    &::after{
      content:"";
      display: block;
      width:30%;
    }
  }
}

.p-home-skill__icon {
  width: calc(20% - 40px);
  margin-bottom: 80px;
  @include mq-up (lg) {
    &:not(:nth-of-type(5n + 1)) {
      margin-left: 50px;
    }
  }
  @include mq-down (lg) {
    width: calc(50% - 40px);
    &:nth-of-type(n + 3) {
      margin-top: 40px;
    }
  }
}
/******************************************************************
Style: Contact
******************************************************************/
.p-home-contact {
  background-image: url(../images/Contact-body.png);
  background-size: cover;
  background-position: center;
  padding: 40px 0 78px;
}

.p-home-contact__button {
  margin: 106px auto 0;
  display: block;
  width: 250px;
}